/* IMPORTS
========== */

@use '../mixins/colors' as c;

/* CLASSES MAIN
========== */

/* DEFAULT BUTTON
 ========== */

.button {
    color: c.$white;
    padding: 6px 16px;
    border-radius: 25px;
    width: auto;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    border: none;
    &:hover {
        background: c.$black;
        color: c.$white;
    }

    &--primary {
        background: c.$black;
        color: c.$white;
        padding: 6px 16px;
        border-radius: 25px;
        width: auto;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s;
        border: none;
        &:hover {
            background: transparent;
            color: c.$black;
            border: 1px solid c.$black;
        }
    }
    &--secondary {
        color: c.$black;
        background: transparent;
        padding: 6px 16px;
        border-radius: 25px;
        width: auto;
        text-decoration: none;
        // -webkit-transition: .2s;
        transition: .2s;
        border: none;
        border: 1px solid c.$black;
        &:hover {
            color: c.$white;
            background: c.$black;
        }
    }
    &--accent {
        border: 1px solid c.$white;
        color: c.$white;
        background: c.$black;
        color: c.$white;
    }
    &--squared {
        background: transparent;
        border-radius: 60px;
        border: 1px solid #1538B5;
        transition: all 0.2s ease-in-out; // disable
        color: #1538B5;
        border-radius: 5px;
        width: 100%;
        display: block;
        height: 46px;
        max-width: 260px;
        padding: 11px 16px;
        max-width: 279px;
        font-weight: bold;
        filter: none;
        text-align: center;
        text-decoration: none;
        margin: 10px 0;
        
    }
    &--arrow {
        border: 1px solid c.$white;
        color: c.$white;
        background: c.$black;
    }

    &--dark {
        background: c.$grey;
        color: c.$white;
        &:hover {
            background: c.$grey;
            color: c.$black;
        }
    }
}


/* TOGGLE BUTTON 
 ========== *
.switch {
    position: relative;
    display: inline-block;
    width: 69px;
    height: 37px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1px solid c.$black;
        -webkit-transition: .2s;
        transition: .2s;

        &::before {
            content: "";
            position: absolute;
            height: 28px;
            width: 28px;
            left: 4px;
            bottom: 4px;
            background-color: c.$black;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }

    input {
        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(28px);
            -ms-transform: translateX(28px);
            transform: translateX(28px);
            background-color: c.$white;
        }
    }
}

/* TOGGLE BUTTON 
 ========== */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1px solid c.$black;
        -webkit-transition: .2s;
        transition: .2s; // disable

        &::before {
            content: "";
            position: absolute;
            height: 14px;
            width: 14px;
            left: 4px;
            bottom: 4px;
            background-color: c.$black;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }

    input {
        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
            background-color: c.$white;
        }
    }
}

/* INPUT BUTTON
 ========== */

input[type="submit"] {
    background: transparent;
    border-radius: 60px;
    border: 1px solid c.$link;
    transition: all .2s ease-in-out; // disable
    color:  c.$link;
    border-radius: 100px;
    width: 100%;
    height: 46px;
    max-width: 279px;
    font-weight: bold;
    filter: none;

    &:hover {
        background: c.$black;
        color: c.$white;
    }

    &.primary {
        border: 1px solid c.$white;
        color: c.$white;
        background: c.$black;
    }

}


