/* COLORS VARIABLES  
======================= */

$black-abs: #000;
$violet: #BFB0FF;
$yellow: #FFE780;
$orange: #fa8231;
$green: #C8FF8D;
$black: #333333;
$white: #f2f2f2;
$grey: #616161;
$blue: #82ccdd;
$cyan: #96F4DE;
$rose: #FFBFE0;
$pale: #FFC0FC;
$link: #1538B5;
$red: #F44848;


/* DASHBOARD PALETTE  
======================= */

$dark-blue: #141827;
$dark-moy-blue: #5F6889;
$fair-blue: #2D4392;
$grey: #CBCBCB;
$grey-blue: #7B8093;
$light-blue: #E6E9F4;
$light-dark-blue: #A0AACF;
$mid-light-blue: #787C90;
$black:   #000000;
$white:   #ffffff;
$orange: #F39C12;
$yellow: #FFE780;