/* COLORS VARIABLES  
======================= */

$violet: #BFB0FF;
$bleu:   #82ccdd;
$cyan:   #96F4DE;
$vert:   #C8FF8D;
$jaune:  #FFE780;
$orange: #fa8231;
$rouge:  #ff7675;
$rose :  #FFBFE0;
$pale :  #FFC0FC;

$noir:   #333;
$gris:   #616161;
$blanc:  #f2f2f2;



