/* IMPORTS
======================= */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* CLASSES 
======================= */

$primary: 'Lato', sans-serif;
$secondary: 'Lato', sans-serif;

$title : 'Lato', serif;
$paragraph : 'Lato', serif;
