/* IMPORTS
======================= */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* CLASSES 
======================= */

$base-font : 16 !default; 
$line-height : 1.5 !default;
$px : 1;
$base : 1;

@function em($px, $base: $base-font) {
    @return ($px / $base) * 1em;
}

$primary: 'Lato', sans-serif;
$secondary: 'Lato', sans-serif;

$title : 'Lato', serif;
$paragraph : 'Lato', serif;

/* CLASSES 
======================= */

h1, .h1 {
    display: block;
    font-size: clamp(2rem, 5vw, 76px);
    font-weight: bold;
    margin: 0;
}

h2, .h2 {
    display: block;
    font-size: clamp(1rem, 5vw, 64px);
    font-weight: normal;
}

h3, .h3, .title {
    display: block;
    font-size: clamp(1rem, 5vw, 48px);
    font-weight: normal;
}

b {
    font-weight: bold;
    color: red;
    + * {
        font-weight: normal;
        color: red;
    }
}

// h4, .h4 {
//     display: block;
//     @include f-hr(20); // equiv 20px
//     font-weight: normal;
// }

// h5, .h5 {
//     display: block;
//     @include f-hr(18); // equiv 18px
//     font-weight: normal;
// }

// h6, .h6 {
//     display: block;
//     @include f-hr(16); // equiv 16px
//     font-weight: normal;
// }

.sub-title {
    font-size: clamp(1rem, 5vw, 24px);
    margin: 20px 0;
}

.uppercase {
    text-transform: uppercase;
}
