/* IMPORTS
======================= */
@use './colors' as c;
@use './fonts' as f;

@use '../partials/error.scss';


/* VARIABLES GLOBALES
======================= */

$desktop: 1200px !default;
$tablet: 768px !default;
$mobile: 480px !default;

/* RESET
======================= */

// $status      : ('draft', 'publish');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    transition: none;
}

.flex-05 {
    flex: 0.5 !important;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
    min-height: 80px;
    padding: 12px 50px;
}

.ck.ck-reset {
    margin-top: 12px !important;
}


.ck.ck-editor {
    margin-top: 12px;
    h2,
    h3,
    h4 {
        color: var(--color-black);
        margin: 0;
    }
}

.w-300 {
    max-width: 300px !important;
    width: 100%;
}


.btm-btn {
    background-color: var(--color-main-blue);
    border: 1px solid var(--color-main-blue);
    padding: 12px 8px;
    border-radius: 4px;
    width: 143px;
    color: var(--color-white);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin: 20px auto;
    left: 0;
    right: 0;
    &:hover {
        background-color: var(--color-white);
        color: var(--color-main-blue);
    }
}

.err-txt {
    color: var(--color-red) !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    // transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

html,
body,
ul,
ol,
form,
button {
    margin: 0;
    padding: 0;
}

p,
ul,
ol,
blockquote,
pre,
td,
th,
label,
textarea {
    margin: f.$line-height * 1em 0;
    line-height: f.$line-height;
    font-size: 1em;
}

article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}

sup,
sub {
    position: relative;
    vertical-align: 0;
}

li p,
li ul {
    margin-bottom: 0;
    margin-top: 0;
}

table,
td,
th,
pre,
div,
p {
    word-wrap: break-word;
}

img,
iframe {
    vertical-align: middle;
    margin: 0;
}


/* BODY 
======================= */

body {
    width: 100vw;
    background: var(--color-background);
    font-family: f.$primary;
    overflow-x: hidden;
    line-height: f.$line-height;
    .no-selection {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        user-select: none;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .underline {
        border-bottom: 2px solid c.$black;
        line-height: 1.5;
    }
    .hidden {
        display: none;
        opacity: 0;
        z-index: -999;
    }
    .center-transform {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a.link {
        text-decoration: none;
        color: var(--color-link);
        display: inline-block;
        margin-left: 5px;
        &::after {
            content: '';
            position: relative;
            display: block;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 0;
            height: 2px;
            border-radius: 100px;
            background: var(--color-link);
            transition: all .4s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .section {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: c.$white;
        overflow-x: hidden;
    }
}

/* global css
======================= */
/* The switch - the box around the slider */



/* global css
======================= */


/* IM BATMAN
======================= */

.dark {
    $text-color: c.$black !default;
    $link-color: c.$black !default;
    $border-color: c.$black !default;
    $pseudo-color: c.$black !default;
    $shadow-color: c.$white !default;
    $link-hover-color: c.$black !default;
    $background-color: c.$white !default;
}



// Snack Bar
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}