/* IMPORTS
======================= */

@use './colors' as c;
@use './fonts' as f;

/* VARIABLES GLOBALES
======================= */

$breakpoint-big : 960 !default;
$breakpoint-medium : 767 !default;
$breakpoint-small : 640 !default;

/* CLASSES GLOBALES
======================= */

html { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

html, body, ul, ol, form, button { 
    margin: 0; 
    padding: 0; 
}

p, ul, ol, blockquote, pre, td, th, label, textarea {
    font-size: 1em;
    line-height: $line-height;
    margin: $line-height * 1em 0;
}

article, aside, figure, footer, header, main, menu, nav, section { 
    display: block; 
}

body {

    width: 100vw;
    background: c.$blanc;
    font-family: f.$primary;
    overflow-x: hidden;
    line-height: $line-height;

    @if $typo-unit == 'use_em' {
        @if $root-equiv-10-px == true {
            font-size: em($base-font, 10);
        }
        @else {
            font-size: em($base-font, $root-default-font-size);
        }
    }
    @else if $typo-unit == 'use_rem' {
        font-size: rem($base-font);
    }
    @else if $typo-unit == 'use_rem_with_em_fallback' {
    @if $root-equiv-10-px == true {
        font-size: em($base-font, 10);
    }
    @else {
        font-size: em($base-font, $root-default-font-size);
    }
    font-size: rem($base-font);
    }

    .no-selection {
        -ms-user-select:none;
        -moz-user-select:none;
        -webkit-user-select:none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        user-select:none;
    }

    .is-uppercase {
        text-transform: uppercase;
    }

    .is-flex {
        display: flex;  
        justify-content: center;
        align-items: center;
    }

    .center-transform {
        position: absolute ;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .is-underline {
        border-bottom: 2px solid c.$noir;
        line-height: 1.5;
    }

    .is-hidden {
        display: none;
        opacity: 0;
        z-index: -999;
    }

    .button {
        padding: 15px;
        margin: 15px;
        background: #f3f3f3 ;
        text-decoration: none;
        color: #333;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    a.link {
        text-decoration: none;
        color: c.$link;
    }

    .section {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: c.$blanc;
        overflow-x: hidden;
    }

}
