@use './mixins/colors'as c;
@use './mixins/fonts'as font;
$img-icon :22px;
$profil-icon:72px;
header {
    position: relative;
}

.title-page {
    line-height: normal;
    font-size: font.$title-size;
    font-family: 'Lato', sans-serif;
    color: var(--color-black);
    font-style: normal;
    font-weight: 600;
}

.right-panel-dasboard {
    max-width: 300px;
    min-width: 300px;
    min-height: 100vh;
    border-radius: 0;
    background: #E6E9F4;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 0;
    & header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        min-height: 107px;
        justify-content: center;
    }
    & header img {
        width: 95px;
    }
    nav {
        margin-top: 23px;
    }
}

.right-panel-menu-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    justify-content: flex-end;
    height: 100%;
    bottom: 0;
    & img {
        width: $profil-icon;
        height: $profil-icon;
        border-radius: 90px;
    }
    & p {
        font-size: 14px;
        color: c.$dark-blue;
        margin-top: 10px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
}

.right-panel-menu ul li {
    // padding: 10px 20px;
    margin: 6px 0px;
    display: flex;
    cursor: pointer;
    position: relative;
    &.active::before {
        content: "";
        height: 100%;
        background: c.$main-blue;
        width: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0px;
        border-radius: 0px;
        transition: all 0.35s;
    }
    a {
        padding: 10px 20px;
        width: 100%;
    }
    &:hover,
    &.active {
        background: rgba(255, 255, 255, 0.685);
        border-radius: 2px;
    }
    & img {
        width: $img-icon;
    }
    & a {
        color: c.$fair-blue;
        align-items: center;
        display: flex;
        text-decoration: none;
        // pointer-events : none;
    }
    & span {
        margin-left: 10px;
        display: block;
    }
}


/* TEMP
========== */

body::before {
    display: auto !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
    content: "" !important;
}

@media screen and (max-width: 1068px) {
    .right-panel-dasboard {
        position: absolute;
        left: -2000px;
        transition: .5s left cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
}