/* IMPORTS
 ========== */

@use './partials/buttons.scss';

@use './mixins/global'as g;

/* CLASSES MAIN
 ========== */

section#clients {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .table-container {
        margin-bottom: 50px;

        .title-container {
            display: flex;
            justify-content: space-around;
            align-items: center;

            a.button--primary {
                margin-left: auto;
                margin-right: 0;
            }
        }


        table {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
            border-radius: 8px;

            tr {
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                padding: .35em;

                th,
                td {
                    padding: 10px 10px;
                    text-align: center;

                    input {
                        width: 100%;

                        &[type="text"],
                        &[type="email"] {
                            filter: none;
                            border: 1px solid #333;
                        }

                        &:disabled {
                            background-color: #f8f8f8;
                            border: 1px solid #ddd;
                            color: #333;
                        }
                    }

                    select {
                        width: 100%;
                        padding: 10px;
                        margin: 12px 0;
                        height: 55px;
                        border-radius: 6px;
                        text-align: center;
                        border: none;
                        border-right: 10px solid transparent;
                        font-weight: bold;
                    }
                }

                th {
                    color: var(--color-text);
                    text-transform: uppercase;
                }
            }
        }
    }

    @media screen and (max-width: g.$tablet) {

        table {
            border: 0;

            thead {
                border: none;
                height: 0px;
                overflow: hidden;
                position: absolute;
            }

            tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: 25px;

                td {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    font-size: .8em;
                    text-align: right;

                    &::before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    &:last-child {
                        border-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }

    }
}





.table {
    display: table;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-radius: 8px;

    .tbody,
    .thead {
        display: table-row;
    }

    .th {
        display: table-cell;
        border-bottom: #ccc 1px solid;
        border-top: #ccc 1px solid;
        background: var(--background-color);
        color: var(--color-text);
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding: 10px 10px;
        text-align: center;

        &:first-child {
            border-left: #ccc 1px solid;
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-right: #ccc 1px solid;
            border-top-right-radius: 5px;
        }
    }

    .tr {
        display: table-row;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;

        .td_sm {
            display: table-cell;

            &:first-child>.td {
                border-left: #ccc 1px solid;
            }

            &:last-child>.td {
                border-right: #ccc 1px solid;
            }

            .td {
                padding-top: 3px;
                padding-bottom: 3px;
                color: #5b5b5b;

                border-bottom: #ccc 1px solid;

                &:nth-child(odd) {
                    display: none;
                    background: #bdbdbd;
                    color: #e5e5e5;
                    display: none;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &:last-child>.td_sm:last-child>.td:last-child {
                border-bottom-right-radius: 5px;
            }

            &:last-child>.td_sm:first-child>.td:last-child {
                border-bottom-left-radius: 5px;
            }

            &:nth-child(2n+3) {
                background: #e9e9e9;
            }
        }


        .th,
        .td {
            padding: 10px 10px;
            text-align: center;

            .input {
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                color: #333;

                &[type="text"],
                &[type="email"] {
                    filter: none;
                    border: 1px solid #333;
                }

                &:disabled {
                    background-color: #f8f8f8;
                    border: 1px solid #ddd;
                    color: #333;
                }
            }

            .select {
                width: 100%;
                padding: 10px;
                margin: 12px 0;
                height: 55px;
                border-radius: 6px;
                text-align: center;
                border: none;
                border-right: 10px solid transparent;
                font-weight: bold;
            }
        }

        .th {
            color: var(--color-text);
            text-transform: uppercase;
        }
    }
}


@media screen and (max-width: 650px) {
    .table {
        display: block;
    }

    .tr:nth-child(2n+3) {
        background: none;
    }

    .thead {
        display: none;
    }

    .tr>.td_sm>.td:nth-child(odd) {
        display: table-cell;
        width: 50%;
    }

    .td {
        display: table-cell;
        width: 50%;
    }

    .tr {
        display: table;
        width: 100%;
        border-collapse: separate;
        padding-bottom: 20px;
        margin: 5% auto 0;
        text-align: center;
    }

    .td_sm {
        display: table-row;
    }

    .tr>.td_sm:first-child>.td:last-child {
        border-left: none;
    }

    .tr>.td_sm>.td:first-child {
        border-left: #ccc 1px solid;
    }

    .tr>.td_sm:first-child>.td:first-child {
        border-top-left-radius: 5px;
        border-top: #ccc 1px solid;
    }

    .tr>.td_sm:first-child>.td:last-child {
        border-top-right-radius: 5px;
        border-top: #ccc 1px solid;
    }

    .tr>.td_sm:last-child>.td:first-child {
        border-right: none;
    }

    .tr>.td_sm>.td:last-child {
        border-right: #ccc 1px solid;
    }

    .tr>.td_sm:last-child>.td:first-child {
        border-bottom-left-radius: 5px;
    }

    .tr>.td_sm:last-child>.td:last-child {
        border-bottom-right-radius: 5px;
    }
}


.grid-table {
    display: grid;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    align-items: top;
    background: rgba(#fafafa, 0.9);
    border-radius: 0.5rem;

    @media (max-width: 800px) {
        background: transparent;
        grid-row-gap: 2rem;
        box-shadow: none;
    }

    &-row {
        display: grid;
        grid-template-columns:repeat(7, 1fr);

        @media (max-width: 800px) {
            grid-template-columns: 3fr 1fr 3fr;
            background: rgba(#fafafa, 0.9);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
        }

        @media (max-width: 400px) {
            grid-template-columns: 1fr 1fr;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #ddd;
        }

        &:first-child {
            border-radius: 0.5rem 0.5rem 0 0;
            background: rgba(#ccc, 0.5);
            font-weight: bold;
            text-shadow: 0 2px 1px #fff;

            @media (max-width: 800px) {
                display: none;
            }
        }
    }

    &-cell {
        padding: 1rem;

        @media (max-width: 800px) {
            padding: 0 0 1rem 0;
            text-align: center;
        }

        &:not(:last-child) {
            border-right: 1px solid #ddd;
        }

        @media (max-width: 800px) {
            &:before {
                content: attr(data-title);
                font-weight: bold;
                display: block;
                background: rgba(#ddd, 0.8);
                padding: 0.75rem;
                margin-bottom: 0.75rem;
                font-size: 1rem;
            }

            &:first-child {
                grid-column-start: 1;
                grid-column-end: 5;
                border-bottom: 1px solid #ddd;

                &:before {
                    border-radius: 0.5rem 0.5rem 0 0;
                }
            }
        }

        @media (max-width: 400px) {
            &:last-child {
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }
    }
}