/* IMPORTS
 ========== */

@use './partials/inputs.scss';
@use './partials/buttons.scss';

@use './mixins/global'as g;
@use './mixins/colors'as c;

/* CLASSES MAIN
  ========== */

body main {

    display: block;
    width: 100%;
    height: 100vh;

    section#login {
        height: 100vh;
        width: 100vw;
    
        .hero-container {
            margin: 150px 60px 0 60px;
            flex-direction: column;
            align-items: flex-start;
    
            @media only screen and (max-width: 768px) {
                text-align: center;
                margin: 150px 15px;
            }
    
        }
    }

    .wrapper {

        flex-direction: column;
        color: c.$black;
        backdrop-filter: blur(4px);

        width: 75vw;
        min-width: 420px;
        max-width: 768px;
        border-radius: 31px;

        a.link {
            color: var(--color-text);
        }

        @media only screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            margin-top: 70px;
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 80%;
            input {
                margin: 0;
                &:nth-child(1) { margin-top: 25px; }
                &[type="submit"] {
                    margin-top: 75px;
                    color: var(--color-text);
                    border: 1px solid var(--color-border);
                    &:hover {
                        background: var(--color-button-background);
                        color: var(--color-button-text);
                    }
                }
            }
            + a.link {
                position: relative;
                top: -100px;
                margin-left: 10%;
                align-self: flex-start;
            }

        }

        .title {
            font-weight: bold;
            font-size: em(1px, 6px);
            line-height: 52px;
            margin-top: 80px;
            color: var(--color-text);
        }
        
        .sub-title {
            color: var(--color-text);
        }

        .inputForm {
            width: 100%;
        }
    }
    .error {
        &-card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            width: 500px;
            height: 200px;
            background: #fff;
            border: 5px solid var(--color-danger);
            z-index: 100;
        }
        &-close {
            position: absolute;
            z-index: 10;
            top: 4px;
            right: 8px;
            color: var(--color-danger);
            font-weight: bold;
            cursor: pointer;
            padding: 4px 12px;
            border-radius: 100%;
            &:hover {
                animation: close-btn .4s ease-in-out 1;
            }
            @keyframes close-btn {
                from { transform: rotate(0deg); }
                to { transform: rotate(180deg); }
            }
        }
        &-message {
            color: var(--color-danger);
            font-size: 1.5rem;
        }
    }
            
}