:root {
    --bezel: .5rem;
    --radius: 4px;
    font-size: calc(0.6rem + 0.4vw);
    color: var(--color-text);
    background: var(--color-background);
    

    --color-black: #333333;
    --color-white: #fff;
    --color-danger: #ED4C67;
    --color-border: #333333;
    --color-text: #333333;
    --color-background: #f2f2f2;
}

#parametres {
    text-align: center;
    padding-top: 60px;
    & form {
        width: 60%;
        margin: 0 auto;
        justify-content: space-between;
        flex-direction: column;
    }
    
    h1.title {
        margin-bottom: 50px;
    }

    input#accordion:checked~.password-reset {
        height: auto;
        display: block;
    }

    label[for="more-options"] {
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        margin: 25px auto;
        color: #333;
        user-select: none;
        transition: all .2s ease-in-out;
    
        &:hover {
            color: #2196F3;
    
            svg {
                -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
                fill: #2196F3;
            }
        }
    
        svg {
            position: relative;
            top: 6px;
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            transition: all .2s ease-in-out;
        }
    
        @media screen and (max-width: 768px) {
            width: 90%;
            margin: 25px auto 0 auto;
        }
    
    }
    
    input[name="more-options"] {
        opacity: 0;
        height: 0;
        transition: all .2s ease-in-out;
    
        &:checked {
            +label {
                color: #2196F3;
    
                svg {
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                    fill: #2196F3;
                }
            }
        }
    
        .toggle-filters {
            -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
        }
    
        &:checked+.toggle-filters {
            opacity: 1;
            transform: translateY(0);
            z-index: 1;
            height: auto;
            min-height: 100px;
        }
    }
}

.toggle-filters {
    transform: translateY(100%);
    width: 100%;
    transition: all 0.25s cubic-bezier(0, 1, 1, 1);
    opacity: 0;
    height: 0;
    z-index: -1;

    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .filter-checkboxes {
        flex-direction: column;
        margin-bottom: 25px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:nth-last-child(1) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        width: 75%;
    }

    input[type=text],
    input[type=password],
    input[type=mail] {
        background: var(--color-white);
        border: 1px solid var(--color-text);
        padding: 18px 10px;
        border-radius: 4px;
        outline: 0;
        transition: all 0.2s ease-in-out;
        font-family: Poppins, sans-serif;
        font-size: 1.1rem;
        filter: none;
    }
    .input {
        position: relative;
        width: 75%;
        margin: 0 auto;

        .input__label {
            position: absolute;
            left: 0;
            top: 12.5px;
            padding: calc(var(--bezel) * 0.75) calc(var(--bezel) * 0.5 + 10px);
            margin: calc(var(--bezel) * 0.75 + 3px) calc(var(--bezel) * 0.5);
            white-space: nowrap;
            transform: translate(0, 0);
            transform-origin: 0 0;
            background: var(--color-background);
            border-radius: 8px;
            transition: transform 120ms ease-in;
            font-weight: bold;
            font-size: 16px;
        }
        
        .input__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding: calc(var(--bezel) * 1.5 + var(--bezel));
            background: transparent;
            border-radius: var(--radius);
        }
        
        .input__field:focus+.input__label,
        .input__field:not(:placeholder-shown)+.input__label {
            transform: translate(0.25rem, -65%) scale(0.8);
            color: var(--color-danger);
            background: var(--color-background);
            padding: auto 8px;
            
        }
    }

    input[type=submit] {
        margin-bottom: 50px;
    }
}











